In [2]:
inta = 1
intb = 2
intc = 3

In [3]:
inta

1

In [4]:
intb

2

In [5]:
intc

3

In [7]:
inta,intb,inc = 4,5,6

In [8]:
inta

4

In [9]:
intb

5

In [10]:
intc

3

In [43]:
temp_int_tuple = 7,8,9

In [44]:
temp_int_tuple

(7, 8, 9)

In [45]:
inta,intb,intc = temp_int_tuple

In [46]:
inta

7

In [47]:
intb

8

In [48]:
intc

9

In [25]:
barn = ['cat','dog','pig','cow']
barn

['cat', 'dog', 'pig', 'cow']

In [26]:
for animal in barn:
    print(animal)

cat
dog
pig
cow

In [27]:
for i,animal in enumerate(barn):
    print(animal)

cat
dog
pig
cow

In [28]:
for i,animal in enumerate(barn):
    print('index:',i)
    print('animal:',animal)

index: 0
animal: cat
index: 1
animal: dog
index: 2
animal: pig
index: 3
animal: cow

In [30]:
for i,animal in enumerate(barn):
    print(f'animal number {i} is a {animal}')

animal number 0 is a cat
animal number 1 is a dog
animal number 2 is a pig
animal number 3 is a cow

In [33]:
for tempvariable in enumerate(barn):
    print(f'animal number {tempvariable[0]} is a {tempvariable[1]}')

animal number 0 is a cat
animal number 1 is a dog
animal number 2 is a pig
animal number 3 is a cow

In [34]:
for i,animal in enumerate(barn):
    print(f'animal number {i} is a {animal}')

animal number 0 is a cat
animal number 1 is a dog
animal number 2 is a pig
animal number 3 is a cow