In [6]:
import pandas as pd

## Lambda Function Syntax

In [ ]:
lambda <inputvar/s>: <return statement>

In [3]:
x,y,z = 7,2,4
x + y - z

5

In [4]:
def my_temp_func(x,y,z):
    return x + y - z

my_temp_func(x,y,z)

5

In [5]:
def my_square_func(x):
    return x**2

In [9]:
my_square_func(2)

4

In [10]:
my_square_func(3)

9

In [ ]:
df['column_name'].apply(my_square_func)

In [7]:
df = pd.DataFrame({'numbers': [1, 2, 3], 'colors': ['red', 'white', 'blue']})
df

   numbers colors
0        1    red
1        2  white
2        3   blue

In [11]:
df['numbers'].apply(my_square_func)

0    1
1    4
2    9
Name: numbers, dtype: int64

In [12]:
transformed_series = df['numbers'].apply(my_square_func)
type(transformed_series)

pandas.core.series.Series

In [13]:
type(df['numbers'])

pandas.core.series.Series

In [14]:
df['transformed_column'] = df['numbers'].apply(my_square_func)

In [15]:
df

   numbers colors  transformed_column
0        1    red                   1
1        2  white                   4
2        3   blue                   9

In [16]:
my_square_func

In [17]:
lambda x:x**2

In [18]:
df['numbers'].apply(lambda x:x**2)

0    1
1    4
2    9
Name: numbers, dtype: int64

In [19]:
df['lambda_transformed_column'] = df['numbers'].apply(lambda x:x**2)

In [20]:
df

   numbers colors  transformed_column  lambda_transformed_column
0        1    red                   1                          1
1        2  white                   4                          4
2        3   blue                   9                          9

In [21]:
my_square_lambda_func = lambda x:x**2
my_square_lambda_func

In [22]:
my_square_func

In [24]:
my_square_lambda_func(2)

4

In [25]:
my_square_lambda_func(3)

9

In [26]:
df['savedlambda_transformed_column'] = df['numbers'].apply(my_square_lambda_func)

In [27]:
df

,numbers,colors,transformed_column,lambda_transformed_column,savedlambda_transformed_column
0,1,red,1,1,1
1,2,white,4,4,4
2,3,blue,9,9,9