In [1]:
import pandas as pd

In [2]:
pd.read_csv('students.csv')

         Name   hw1   hw2 program
0      Dorian  10.0  10.0    MSIS
1    Jeannine   6.0   7.0    MSIS
2   Iluminada   2.0   NaN     MBA
3        Luci   7.0   7.0    MSIS
4       Jenny   8.0   NaN     NaN
5    Demetria   2.0   4.0    MSIS
6     Michael   6.0  10.0     MBA
7     Garland   9.0   1.0    MSIS
8      Shelby   1.0  10.0    MSIS
9       Mercy   5.0   6.0    MSIS
10       John   NaN  10.0    MSIS

In [3]:
type(pd.read_csv('students.csv'))

pandas.core.frame.DataFrame

In [4]:
pd.read_csv('students.csv',index_col=0)

            hw1   hw2 program
Name
Dorian     10.0  10.0    MSIS
Jeannine    6.0   7.0    MSIS
Iluminada   2.0   NaN     MBA
Luci        7.0   7.0    MSIS
Jenny       8.0   NaN     NaN
Demetria    2.0   4.0    MSIS
Michael     6.0  10.0     MBA
Garland     9.0   1.0    MSIS
Shelby      1.0  10.0    MSIS
Mercy       5.0   6.0    MSIS
John        NaN  10.0    MSIS

In [89]:
df = pd.read_csv('students.csv',index_col=0)

In [6]:
hw1 = df['hw1']
hw1

Name
Dorian       10.0
Jeannine      6.0
Iluminada     2.0
Luci          7.0
Jenny         8.0
Demetria      2.0
Michael       6.0
Garland       9.0
Shelby        1.0
Mercy         5.0
John          NaN
Name: hw1, dtype: float64

In [10]:
hw1.head()

Name
Dorian       10.0
Jeannine      6.0
Iluminada     2.0
Luci          7.0
Jenny         8.0
Name: hw1, dtype: float64

In [11]:
hw1.describe()

count    10.000000
mean      5.600000
std       3.098387
min       1.000000
25%       2.750000
50%       6.000000
75%       7.750000
max      10.000000
Name: hw1, dtype: float64

Get Michael's HW1 score

In [15]:
hw1.index

Index(['Dorian', 'Jeannine', 'Iluminada', 'Luci', 'Jenny', 'Demetria',
       'Michael', 'Garland', 'Shelby', 'Mercy', 'John'],
      dtype='object', name='Name')

In [12]:
hw1['Michael']

6.0

In [16]:
type(hw1['Michael'])

numpy.float64

In [27]:
hw1.iloc[-1]

nan

In [37]:
hw1 <= 6

Name
Dorian       False
Jeannine      True
Iluminada     True
Luci         False
Jenny        False
Demetria      True
Michael       True
Garland      False
Shelby        True
Mercy         True
John         False
Name: hw1, dtype: bool

In [40]:
type(hw1 <= 6)

pandas.core.series.Series

In [41]:
hw1[hw1 <= 6]

Name
Jeannine     6.0
Iluminada    2.0
Demetria     2.0
Michael      6.0
Shelby       1.0
Mercy        5.0
Name: hw1, dtype: float64

In [46]:
hw1[~(hw1 <= 6) ]

Name
Dorian     10.0
Luci        7.0
Jenny       8.0
Garland     9.0
John        NaN
Name: hw1, dtype: float64

In [49]:
hw1[hw1 <= 6].mean()

3.6666666666666665

In [54]:
(hw1 < 5)  | (hw1 > 9)

Name
Dorian        True
Jeannine     False
Iluminada     True
Luci         False
Jenny        False
Demetria      True
Michael      False
Garland      False
Shelby        True
Mercy        False
John         False
Name: hw1, dtype: bool

Find scores/students who scored <5 or >9

In [55]:
hw1[(hw1 < 5)  | (hw1 > 9)]

Name
Dorian       10.0
Iluminada     2.0
Demetria      2.0
Shelby        1.0
Name: hw1, dtype: float64

In [66]:
hw1.rank()

Name
Dorian       10.0
Jeannine      5.5
Iluminada     2.5
Luci          7.0
Jenny         8.0
Demetria      2.5
Michael       5.5
Garland       9.0
Shelby        1.0
Mercy         4.0
John          NaN
Name: hw1, dtype: float64

In [67]:
hw1[
    ['Michael','Jeannine']
]

Name
Michael     6.0
Jeannine    6.0
Name: hw1, dtype: float64

In [68]:
hw1[
    ['Iluminada','Demetria']
]

Name
Iluminada    2.0
Demetria     2.0
Name: hw1, dtype: float64

In [69]:
hw1.max()

10.0

In [70]:
hw1.idxmax()

'Dorian'

In [71]:
hw1[hw1.idxmax()]

10.0

In [72]:
hw1.sort_values()

Name
Shelby        1.0
Iluminada     2.0
Demetria      2.0
Mercy         5.0
Jeannine      6.0
Michael       6.0
Luci          7.0
Jenny         8.0
Garland       9.0
Dorian       10.0
John          NaN
Name: hw1, dtype: float64

In [73]:
hw1.sort_index()

Name
Demetria      2.0
Dorian       10.0
Garland       9.0
Iluminada     2.0
Jeannine      6.0
Jenny         8.0
John          NaN
Luci          7.0
Mercy         5.0
Michael       6.0
Shelby        1.0
Name: hw1, dtype: float64

In [74]:
hw1.nlargest(2)

Name
Dorian     10.0
Garland     9.0
Name: hw1, dtype: float64

In [75]:
hw1.nsmallest(2)

Name
Shelby       1.0
Iluminada    2.0
Name: hw1, dtype: float64

In [76]:
hw1.value_counts()

2.0     2
6.0     2
5.0     1
1.0     1
9.0     1
8.0     1
7.0     1
10.0    1
Name: hw1, dtype: int64

In [77]:
hw1.value_counts(ascending=True)

10.0    1
7.0     1
8.0     1
9.0     1
1.0     1
5.0     1
6.0     2
2.0     2
Name: hw1, dtype: int64

In [78]:
hw1.value_counts(ascending=False)

2.0     2
6.0     2
5.0     1
1.0     1
9.0     1
8.0     1
7.0     1
10.0    1
Name: hw1, dtype: int64

In [79]:
type(hw1.value_counts(ascending=False))

pandas.core.series.Series

In [81]:
hw1.value_counts(ascending=False).nlargest(2)

2.0    2
6.0    2
Name: hw1, dtype: int64

In [82]:
hw1.value_counts(ascending=False).nlargest(2).values

array([2, 2])

In [85]:
top_two_outliers = hw1.value_counts(ascending=False).nlargest(2).min()
top_two_outliers

2

In [86]:
hw1[hw1 <= top_two_outliers]

Name
Iluminada    2.0
Demetria     2.0
Shelby       1.0
Name: hw1, dtype: float64

Elementwise Operations

In [87]:
hw1 +5

Name
Dorian       15.0
Jeannine     11.0
Iluminada     7.0
Luci         12.0
Jenny        13.0
Demetria      7.0
Michael      11.0
Garland      14.0
Shelby        6.0
Mercy        10.0
John          NaN
Name: hw1, dtype: float64

In [91]:
hw2 = df['hw2']
hw2

Name
Dorian       10.0
Jeannine      7.0
Iluminada     NaN
Luci          7.0
Jenny         NaN
Demetria      4.0
Michael      10.0
Garland       1.0
Shelby       10.0
Mercy         6.0
John         10.0
Name: hw2, dtype: float64

In [92]:
hw1 + hw2

Name
Dorian       20.0
Jeannine     13.0
Iluminada     NaN
Luci         14.0
Jenny         NaN
Demetria      6.0
Michael      16.0
Garland      10.0
Shelby       11.0
Mercy        11.0
John          NaN
dtype: float64

In [94]:
(hw1 + hw2)/2

Name
Dorian       10.0
Jeannine      6.5
Iluminada     NaN
Luci          7.0
Jenny         NaN
Demetria      3.0
Michael       8.0
Garland       5.0
Shelby        5.5
Mercy         5.5
John          NaN
dtype: float64

In [95]:
hw1 - hw2

Name
Dorian       0.0
Jeannine    -1.0
Iluminada    NaN
Luci         0.0
Jenny        NaN
Demetria    -2.0
Michael     -4.0
Garland      8.0
Shelby      -9.0
Mercy       -1.0
John         NaN
dtype: float64

In [96]:
(hw1 - hw2).idxmax()

'Garland'

In [97]:
(hw1 - hw2).idxmin()

'Shelby'

In [100]:
hw1[['Shelby','Michael']]

Name
Shelby     1.0
Michael    6.0
Name: hw1, dtype: float64

In [101]:
hw1['Shelby']

1.0

In [102]:
type(hw1[['Shelby','Michael']])

pandas.core.series.Series

In [103]:
type(hw1['Shelby'])

numpy.float64

In [105]:
hw1[['Shelby']]

Name
Shelby    1.0
Name: hw1, dtype: float64

In [104]:
type(hw1[['Shelby']])

pandas.core.series.Series