In [3]:
my_set = set()
my_set

set()

In [4]:
type(my_set)

set

In [5]:
for i in range(10):
    my_set.add(i)
my_set

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
for i in range(5,15):
    my_set.add(i)
my_set

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [7]:
my_list = []

for i in range(10):
    my_list.append(i)
for i in range(5,15):
    my_list.append(i)
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [8]:
set(my_list)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [9]:
# not the most efficient line of code here:
list(set(my_list))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [10]:
my_set

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [11]:
my_set.add(14)
my_set

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [12]:
my_set.add(16)
my_set.add(15)
my_set

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}

In [13]:
type({1,2,3})

set

In [14]:
type({})

dict

In [15]:
type(set())

set

In [16]:
set()

set()

In [17]:
my_set.remove(16)
my_set.remove(15)
my_set

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [18]:
my_set.remove(99)

KeyError: 99

In [19]:
99 in my_set

False

In [20]:
11 in my_set

True

In [21]:
my_set2 = {1,2,3,4,5}
my_set2

{1, 2, 3, 4, 5}

In [22]:
# Union
my_set | my_set2

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [23]:
# XOR
my_set ^ my_set2

{0, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [24]:
# Intersection
my_set & my_set2

{1, 2, 3, 4, 5}

In [36]:
type({1,2,3,4,5})

set

In [37]:
type((1,2,3,4,5))

tuple

In [38]:
type([1,2,3,4,5])

list

In [39]:
type({1,2,3})

set

In [40]:
type({'a':1,'b':2,'c':3})

dict

In [41]:
type({})

dict

In [42]:
type(set())

set

In [ ]:
{'a':1,'b':2,'c':3}