# Warm-up Exercises
Day 2

## Problem 1

Write a program which will find all numbers between 2000 and 3200 (both inclusive), which are divisible by 7 but are not a multiple of 5. Store the answers in a list. Print the list.

In [3]:
results = list()
for i in range(2000,3201):
    if not (i%7):
        if (i%5):
            results.append(i)
print(results)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

## Problem 2

Write a program that takes a number as an input, computes the factorial of the number enterred, and then prints the result. You must use a loop. You may not use any libraries or math functions that calculate factorials.

(Hint: a factorial is just the product of all numbers between 1 and the number. So, 5! = 5 * 4 * 3 * 2 * 1.)

In [5]:
my_int = input("Please enter ")
while not my_int.isdigit():
    my_int = input("INVALID INPUT.\nPlease enter ")
my_int = int(my_int)

result = 1
if my_int > 1:
    for i in range(1,my_int+1):
        result *= i
print(f'The result is {result:.0f}')

Please enter 5
The result is 120

## Problem 3

Write a program that accepts an input, and then calculate the number of letters and digits in the entered string. For example, this input: hello world! 123 should return this output: LETTERS 10 DIGITS 3

In [6]:
letters = 0
digits = 0
valid_letters = list('abcdefghijklmnopqrstuvwxyz')
valid_digits = list('0123456789')
input_string = input("Enter a sequence of characters: ")

for letter in input_string.lower():
    if letter in valid_letters:
        letters += 1
    elif letter in valid_digits:
        digits += 1
print(f'Letters: {letters}\n Digits: {digits}')

Enter a sequence of characters: asdf123&*(
Letters: 4
 Digits: 3

## Functions Version
Modify the answer in Problem 3 to be a function. The input should be a string, and the output should be another string with the results.

In [ ]:
def count_letters_numbers():
    """docstring optional for this exercise"""
    return

## Solution

In [16]:
def count_letters_numbers(input_string):
    """input: input_string: any string of letters or numbers
    output: string containing the counts of the numbers and letters in input_string"""


    letters = 0
    digits = 0
    valid_letters = list('abcdefghijklmnopqrstuvwxyz')
    valid_digits = list('0123456789')


    for letter in input_string.lower():
        if letter in valid_letters:
            letters += 1
        elif letter in valid_digits:
            digits += 1
    return f'Letters: {letters}\n Digits: {digits}'

In [17]:
#how we will use the function
input_string = input("Enter a sequence of characters: ")
results = count_letters_numbers(input_string)
print(results)

Enter a sequence of characters: asdf123%^&*
Letters: 4
 Digits: 3

In [18]:
count_letters_numbers('asdf1234&*()')

'Letters: 4\n Digits: 4'

In [19]:
count_letters_numbers(123)

AttributeError: 'int' object has no attribute 'lower'

## more to come after lunch!

In [32]:
def count_letters_numbers2(input_string):
    """input: input_string: any string of letters or numbers
    output: string containing the counts of the numbers and letters in input_string"""

    if type(input_string) is not str:
        raise ValueError("Input input_string must be of type str: input was: " + str(type(input_string)))
    letters = 0
    digits = 0
    valid_letters = list('abcdefghijklmnopqrstuvwxyz')
    valid_digits = list('0123456789')


    for letter in input_string.lower():
        if letter in valid_letters:
            letters += 1
        elif letter in valid_digits:
            digits += 1
    return f'Letters: {letters}\n Digits: {digits}'

In [33]:
count_letters_numbers2(123)

ValueError: Input input_string must be of type str: input was: <class 'int'>

In [30]:
def count_letters_numbers3(input_string):
    """input: input_string: any string of letters or numbers
    output: string containing the counts of the numbers and letters in input_string"""

    if type(input_string) is not str:
        return "error, bad input"
    letters = 0
    digits = 0
    valid_letters = list('abcdefghijklmnopqrstuvwxyz')
    valid_digits = list('0123456789')


    for letter in input_string.lower():
        if letter in valid_letters:
            letters += 1
        elif letter in valid_digits:
            digits += 1
    return f'Letters: {letters}\n Digits: {digits}'

In [31]:
count_letters_numbers(123)

'error, bad input'

In [44]:
def count_letters_numbers4(input_string):
    """input: input_string: any string of letters or numbers
    output: string containing the counts of the numbers and letters in input_string"""

    letters = 0
    digits = 0
    valid_letters = list('abcdefghijklmnopqrstuvwxyz')
    valid_digits = list('0123456789')


    try:
        for letter in input_string.lower():
            if letter in valid_letters:
                letters += 1
            elif letter in valid_digits:
                digits += 1
        return_string = f'Letters: {letters}\n Digits: {digits}'
    except:
        return_string = "error, bad input (from try/except block)"

    return return_string

In [47]:
count_letters_numbers4(123)

'error, bad input (from try/except block)'

## Working with Modules
note .py file: my_module.py

In [2]:
import my_module

In [49]:
my_module.count_letters_numbers('asdf123%^&*')

'Letters: 4\n Digits: 3'

In [50]:
my_module.count_letters_numbers(123)

AttributeError: 'int' object has no attribute 'lower'

In [51]:
#with error handling
my_module.count_letters_numbers4(123)

'error, bad input (from try/except block)'

In [52]:
#with error handling
my_module.count_letters_numbers4('asdf123$##%')

'Letters: 4\n Digits: 3'

In [3]:
import my_module2

In [4]:
my_module2.generic_setting1

False

In [5]:
my_module2.generic_setting2

True

In [6]:
import my_module2_withNewVarValues
print(my_module2_withNewVarValues.generic_setting1)
print(my_module2_withNewVarValues.generic_setting2)

22
abcd

In [7]:
import my_module2_withNewVarValues as my_module2
print(my_module2.generic_setting1)
print(my_module2.generic_setting2)

22
abcd

In [8]:
my_module2.count_letters_numbers4(123)

'error, bad input (from try/except block)'

In [9]:
from my_module2_withNewVarValues import count_letters_numbers4

In [10]:
count_letters_numbers4(123)

'error, bad input (from try/except block)'

In [11]:
count_letters_numbers4('asdf123^&*')

'Letters: 4\n Digits: 3'

In [ ]:
# never do this!
from my_module2_withNewVarValues import *

In [12]:
sum((1,2,3,4))

10

In [13]:
sum

In [14]:
# instead of: import numpy
from numpy import *

In [15]:
sum((1,2,3,4))

10

In [16]:
sum

restarting kernal here

In [1]:
# isntead do this:
from numpy import sum as numpysum

In [2]:
sum

In [3]:
numpysum

## stripping whitespace from strings

In [13]:
my_string = """

some text here
another line of text
end of text

"""

In [14]:
my_string

'\n\nsome text here\nanother line of text\nend of text\n\n'

In [15]:
my_string.strip()

'some text here\nanother line of text\nend of text'

In [16]:
cleaned_up_string = my_string.strip()
cleaned_up_string.split()

['some', 'text', 'here', 'another', 'line', 'of', 'text', 'end', 'of', 'text']

In [17]:
cleaned_up_string.split('\n')

['some text here', 'another line of text', 'end of text']

In [18]:
line_from_csv = "1,2,3,4"
line_from_csv

'1,2,3,4'

In [19]:
line_from_csv.split(',')

['1', '2', '3', '4']

## Question about working with parsing text files
Similar example/answer

In [20]:
# from data.gov
# https://catalog.data.gov/dataset/demographic-statistics-by-zip-code-acfc9
# https://data.cityofnewyork.us/api/views/kku6-nxdu/rows.csv?accessType=DOWNLOAD

data = """
Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size
90001,57110,26.6,28468,28642,12971,4.4
90002,51223,25.5,24876,26347,11731,4.36
90003,66266,26.3,32631,33635,15642,4.22
""".strip()

In [23]:
data.split('\n')

['Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size',
 '90001,57110,26.6,28468,28642,12971,4.4',
 '90002,51223,25.5,24876,26347,11731,4.36',
 '90003,66266,26.3,32631,33635,15642,4.22']

In [24]:
data.split('\n')[2]

'90002,51223,25.5,24876,26347,11731,4.36'

In [25]:
data.split('\n')[2].split(',')

['90002', '51223', '25.5', '24876', '26347', '11731', '4.36']

In [27]:
new_data = []
for line in data.split('\n'):
    new_data.append(line.split(','))
new_data

[['Zip Code',
  'Total Population',
  'Median Age',
  'Total Males',
  'Total Females',
  'Total Households',
  'Average Household Size'],
 ['90001', '57110', '26.6', '28468', '28642', '12971', '4.4'],
 ['90002', '51223', '25.5', '24876', '26347', '11731', '4.36'],
 ['90003', '66266', '26.3', '32631', '33635', '15642', '4.22']]

In [28]:
for line in data.split('\n'):
    print(line.split(','))

['Zip Code', 'Total Population', 'Median Age', 'Total Males', 'Total Females', 'Total Households', 'Average Household Size']
['90001', '57110', '26.6', '28468', '28642', '12971', '4.4']
['90002', '51223', '25.5', '24876', '26347', '11731', '4.36']
['90003', '66266', '26.3', '32631', '33635', '15642', '4.22']

In [29]:
for line in data.split('\n'):
    print(','.join(line.split(','))
    )

Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size
90001,57110,26.6,28468,28642,12971,4.4
90002,51223,25.5,24876,26347,11731,4.36
90003,66266,26.3,32631,33635,15642,4.22